/* ========================================
  Mixins / Functions
======================================== */

@mixin create-color-classes($attribute: "color", $prefix: "-") {
  @each $name, $hex in $colors {
    &#{$prefix}#{$name} {
      #{$attribute}: $hex !important;
    }
  }
}

@function rem($size) {
  @return calc($size / 16px) * 1rem;
}

@mixin arrow($direction, $size, $color) {
  $directions: ("down", "left", "up", "right");
  $positions: ("top", "right", "bottom", "left");

  content: "";
  width: 0;
  height: 0;

  @each $position in $positions {
    $i: index($positions, $position);

    @if nth($directions, $i) == $direction {
      border-#{$position}: $size solid $color;
    } @else {
      border-#{$position}: $size solid transparent;
    }
  }
}

@mixin triangle-arrow($rotation, $size, $thickness, $color) {
  content: "";
  width: $size;
  height: $size;
  border-right: $thickness solid;
  border-bottom: $thickness solid;
  color: $color;
  transform: rotate($rotation);
}
