// media queries
// https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
@mixin create-color-classes($attribute: 'color', $prefix: '-') {
  @each $name, $hex in $colors {
    &#{$prefix}#{$name} {
      #{$attribute}: $hex !important;
    }
  }
}

@function rem($size) {
  @return calc($size / 16px) * 1rem;
}

@mixin arrow($direction, $size, $color) {
  content: ""; // ensures the arrows are visible

  // ensures the size of the arrows is correct:
  width: 0;
  height: 0;

  // Lists for positions/directions
  $directions: ('down', 'left', 'up', 'right');
  $positions: ('top', 'right', 'bottom', 'left');

  // Loop through each position
  @each $position in $positions {
    // Calculate the index of the position in the list
    $index: index($positions, $position);

    // If the position matches the direction, render a colored border
    @if nth($directions, $index) == $direction {
      border-#{$position}: $size solid $color;
    } @else {
      border-#{$position}: $size solid transparent;
    }
  }
}

@mixin triangle-arrow($rotation, $size ,$thickness, $color) {
  content: ""; // ensures the arrows are visible
  color: $color;
  width: $size;
  height: $size;
  border-right: $thickness solid;
  border-bottom: $thickness solid;
  transform: rotate($rotation);
}