<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="https://placeimg.com/1920/650/any" alt="Dummy"></div>
    <div class="swiper-slide"><img src="https://placeimg.com/1920/650/nature" alt="Dummy"></div>
    <div class="swiper-slide"><img src="https://placeimg.com/1920/650/animals" alt="Dummy"></div>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-scrollbar"></div>
</div>
